<header>
    <nav>
        <ul>
            <li>Home</li>
            <li>Shop List</li>
        </ul>
    </nav>
</header>
<body>
    <section class="main">
        <div class="text">
            <p>Get your avocado with the lowest price you can with these deals </p>
            <form action="shops" method="post">
                <button type="submit" name="shops" id="shops">All Shops</button>
            </form>
        </div>
        <div class="picture">
            <img src="avocado.jpg" alt="Hands holding an avocado cut open">
        </div>
    </section>
</body>